<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ترازوی هوشمند </title>
   <link rel="stylesheet" href="/style.css">

</head>
<body>
  
  <p style="text-align: center;">
    <img src="logo.png" alt="راهکارسازان آوان" style="width:200px">
      </p>
    
    
    <br/><img src="line.png" style="width:100%"><br/>
    

  <h1 id="barcode">0000000000000000</h1> 
 <h1 style="direction: ltr;" id="weight">0kg</h1>
    
<hr/>

 <a href='/'  class='button-54'  style="  background-color: #ffffff  !important;" >بازگشت </a>
    <br/><br/><br/>

<script>

async function buzz(){
  await fetch('/buzzer')
}

async function intro(){
  await fetch('/intro')
}

let last_barcode = 'not set'


async function get_data(){
  let url = '/getdata';

      fetch(url)
      .then(res =>  res.json())
      .then(result =>{
          let barcode = document.getElementById('barcode');
          let weight = document.getElementById('weight');

          if(result && result.barcode != last_barcode && result.barcode.length>0 ) {
            barcode.innerHTML = result.barcode;
            weight.innerHTML = result.weight +'kg';
            last_barcode = result.barcode;
        }
      })
      .catch(err => console.log(err));
  }


  setInterval(get_data, 500);

</script>

</body>
</html>