<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ترازوی هوشمند </title>
   <link rel="stylesheet" href="/style.css">

</head>
<body>
  
    <h1 class="title"> راهکارسازان آوان</h1>
    <pre>version 1.0.1</pre>
  
    
    <a href='/download' class='button-54' style="  background-color: #248c04  !important;">دانلود</a> 
    &nbsp; &nbsp; &nbsp;
    <a href='/clear' class='button-54' style="  background-color: #8c0404  !important;" target="_blank" >X</a> 
    <br/><br/><br/>
    <a href='#' onclick="intro()"  class='button-54'  style="  background-color: #ffffff  !important;" > Intro </a> &nbsp;&nbsp;&nbsp;
    <a href='#' onclick="buzz()"  class='button-54 '  style="  background-color: #ffffff  !important;"> صدای بوق</a> 
    <br/><br/><br/>
   
   
    <button class="button-82-pushable" role="button">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span class="button-82-front text">
        Reboot
      </span>
    </button>

  <h1 id="barcode">0000000000000000</h1> 
 <h1 id="weight">0kg</h1>
    
     <br/>

<script>

async function buzz(){
  await fetch('/buzzer')
}

async function intro(){
  await fetch('/intro')
}

let last_barcode = 'not set'


async function get_data(){
  let url = '/getdata';

      fetch(url)
      .then(res =>  res.json())
      .then(result =>{
          let barcode = document.getElementById('barcode');
          let weight = document.getElementById('weight');

          if(result && result.barcode != last_barcode && result.barcode.length>0 ) {
            barcode.innerHTML = result.barcode;
            weight.innerHTML = result.weight +'kg';
            last_barcode = result.barcode;
        }
      })
      .catch(err => console.log(err));
  }


  setInterval(get_data, 500);

</script>

</body>
</html>